OpenGlove API C Sharp HL/Service References/ServiceReference1/OGService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OGService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/OpenGloveWCF/OGService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/OpenGloveWCF/OGService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/OpenGloveWCF/OGService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OpenGloveWCF" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/OpenGloveWCF/OGService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOGService_GetGloves_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGloves" />
  </wsdl:message>
  <wsdl:message name="IOGService_GetGloves_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGlovesResponse" />
  </wsdl:message>
  <wsdl:message name="IOGService_RefreshGloves_InputMessage">
    <wsdl:part name="parameters" element="tns:RefreshGloves" />
  </wsdl:message>
  <wsdl:message name="IOGService_RefreshGloves_OutputMessage">
    <wsdl:part name="parameters" element="tns:RefreshGlovesResponse" />
  </wsdl:message>
  <wsdl:message name="IOGService_SaveGlove_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveGlove" />
  </wsdl:message>
  <wsdl:message name="IOGService_SaveGlove_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveGloveResponse" />
  </wsdl:message>
  <wsdl:message name="IOGService_Activate_InputMessage">
    <wsdl:part name="parameters" element="tns:Activate" />
  </wsdl:message>
  <wsdl:message name="IOGService_Activate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivateResponse" />
  </wsdl:message>
  <wsdl:message name="IOGService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IOGService_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IOGService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IOGService_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IOGService_ActivateMany_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivateMany" />
  </wsdl:message>
  <wsdl:message name="IOGService_ActivateMany_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivateManyResponse" />
  </wsdl:message>
  <wsdl:portType name="IOGService">
    <wsdl:operation name="GetGloves">
      <wsdl:input wsaw:Action="http://tempuri.org/IOGService/GetGloves" message="tns:IOGService_GetGloves_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOGService/GetGlovesResponse" message="tns:IOGService_GetGloves_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RefreshGloves">
      <wsdl:input wsaw:Action="http://tempuri.org/IOGService/RefreshGloves" message="tns:IOGService_RefreshGloves_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOGService/RefreshGlovesResponse" message="tns:IOGService_RefreshGloves_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveGlove">
      <wsdl:input wsaw:Action="http://tempuri.org/IOGService/SaveGlove" message="tns:IOGService_SaveGlove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOGService/SaveGloveResponse" message="tns:IOGService_SaveGlove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Activate">
      <wsdl:input wsaw:Action="http://tempuri.org/IOGService/Activate" message="tns:IOGService_Activate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOGService/ActivateResponse" message="tns:IOGService_Activate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IOGService/Connect" message="tns:IOGService_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOGService/ConnectResponse" message="tns:IOGService_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IOGService/Disconnect" message="tns:IOGService_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOGService/DisconnectResponse" message="tns:IOGService_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivateMany">
      <wsdl:input wsaw:Action="http://tempuri.org/IOGService/ActivateMany" message="tns:IOGService_ActivateMany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOGService/ActivateManyResponse" message="tns:IOGService_ActivateMany_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOGService" type="tns:IOGService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGloves">
      <soap:operation soapAction="http://tempuri.org/IOGService/GetGloves" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshGloves">
      <soap:operation soapAction="http://tempuri.org/IOGService/RefreshGloves" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveGlove">
      <soap:operation soapAction="http://tempuri.org/IOGService/SaveGlove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Activate">
      <soap:operation soapAction="http://tempuri.org/IOGService/Activate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <soap:operation soapAction="http://tempuri.org/IOGService/Connect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap:operation soapAction="http://tempuri.org/IOGService/Disconnect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateMany">
      <soap:operation soapAction="http://tempuri.org/IOGService/ActivateMany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OGService">
    <wsdl:port name="BasicHttpBinding_IOGService" binding="tns:BasicHttpBinding_IOGService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/OpenGloveWCF/OGService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>