OpenGlove API C Sharp HL/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/OpenGloveWCF" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetGloves">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGlovesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OpenGloveWCF" minOccurs="0" name="GetGlovesResult" nillable="true" type="q1:ArrayOfGlove" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshGloves">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshGlovesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OpenGloveWCF" minOccurs="0" name="RefreshGlovesResult" nillable="true" type="q2:ArrayOfGlove" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGlove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OpenGloveWCF" minOccurs="0" name="glove" nillable="true" type="q3:Glove" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGloveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Activate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gloveAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actuator" type="xs:int" />
        <xs:element minOccurs="0" name="intensity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gloveAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gloveAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisconnectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateMany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gloveAddress" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="actuators" nillable="true" type="q4:ArrayOfint" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="intensityList" nillable="true" type="q5:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateManyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivateManyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addFlexor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gloveAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pin" type="xs:int" />
        <xs:element minOccurs="0" name="mapping" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addFlexorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addFlexorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFlexor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gloveAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mapping" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeFlexorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeFlexorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="calibrateFlexors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gloveAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="calibrateFlexorsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="confirmCalibration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gloveAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="confirmCalibrationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="setThreshold">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gloveAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setThresholdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="resetFlexors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gloveAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="resetFlexorsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="startIMU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gloveAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="startIMUResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="setIMUStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gloveAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setIMUStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="setRawData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gloveAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setRawDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="setLoopDelay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gloveAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setLoopDelayResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="setChoosingData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gloveAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setChoosingDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>